/********************************ALL***********************************************************************/
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*{
  font-family: 'Montserrat', sans-serif;
}

#logo{
  text-align: center;
}

#maintitulo{
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 5.3px;
}

#slogan{
  font-size: 1rem;
  font-weight: 400;
}

#webNavBar a{
  text-decoration: none;
  color: #2f2e2e;
}


nav ul {
    list-style-type: none;
    padding: 16px;
    margin-top: 10px;
  }
  
nav ul li a {
    color: #2f2e2e;
    border-top-style: solid;
    border-width: 1px;
    padding-top: 15px;
    margin: 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

nav ul li a:hover {
    border-width: 3px;
  }

#mobileNavBar{
  display: none;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
#footerLogo{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    padding-top: 30px;
  }
     
#footerLogo img{
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  
a[href^="mailto:"]{
    text-decoration: none;
    color:#2f2e2e;
    font-size: 1.5rem;
    padding: 5px;
  }
  
#footerLogo #linkedin{
     height: 27px;
     width: 27px;
  }
  
#footerLogo #facebook{
    height: 27px;
    width: 27px;
    margin-left: 7px;
  }
  
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:3rem;
    z-index:100;
    box-shadow: 2px 2px 3px #999;
  }
  
.fa-whatsapp {
    margin-top:15px;
    color:#FFF;
  }

.resaltado{
    border-width: 3px;
    font-weight: bold;
  }

/********************************index.html***********************************************************************/

.carousel{
    position: relative;
  }

.btn-customized{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #bbb;
    cursor: pointer;
    transition: color 0.5s;
  }

.btn-customized:hover{
    color: white
  }
  


  /********************************about us.html***********************************************************************/

#principal{
  margin-top: 50px;
  text-align: justify;
}

#principal h2{
  color:#2f2e2e;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

#principal p:nth-child(2){
  margin-top: 30px;
}

#principal p{
  font-size: 1.3rem;
}

#owners a{
  margin-bottom: 5px;
  color:#2f2e2e;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
}

#secundario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#secundario span:nth-child(1){
  font-size: 3rem;
  font-weight: 700;
  margin-left: 20px;
}

#secundario span:nth-child(2){
  font-size: 2rem;
  margin-left:50px;
}

#secundario span:nth-child(3){
  font-size: 3rem;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 50px;
}

#secundario span:nth-child(4){
  font-size: 2rem;
  margin-left:75px;
}

#owners img{
  height: 27px;
  width: 27px;
}

  /********************************portfolio.html***********************************************************************/

#picturesPortfolio img{
  cursor: pointer;
  transition: 0.3s;
}

#picturesPortfolio img:hover{
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  display: block;
  width: 80%;
  max-width: 700px;
  bottom: 10%;
}

#myModal .container{
  height: 100%;
}



/* Add Animation - Zoom in the Modal */
.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 3.5rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


#anterior{
  position: absolute;
  left: 10%;
  top: 45%;
}

#siguiente{
  position: absolute;
  right: 10%;
  top: 45%;
}

.arrows {
  color: #f1f1f1;
  font-size: 3.5rem;
  font-weight: bold;
}

.arrows:hover,
.arrows:focus {
  cursor: pointer;
}

/********************************Animations.html***********************************************************************/

#animations .row div{
  height: 360px;
}

/********************************Social Network.html***********************************************************************/

#instagramFeed{
  position: relative;
  z-index: 0;
}

#instagramFeed .container{
  position: absolute;
  background-color:white;
  bottom: 5px;
  padding: 22px;
  z-index: 99999;
}

/********************************Contact.html***********************************************************************/
#contact{
  margin-top: 50px;
}

#contact h3{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

#contact p{
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 30px;
}

#contact h4{
  font-size: 1.2rem;
  font-weight: 700;
}

#contact .row{
  margin-bottom: 50px;
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #bbb;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


#scrollDown {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width:25px;
  height:25px;
  bottom:90px;
  right:57px;
  background-color: #bbb;
  border-radius:50px;
  text-align:center;
  font-size:3rem;
  z-index: 9999;
  transition: opacity 0.6s;
  opacity: 0;
  text-decoration: none;
}


#scrollDown i{
color:white;
font: normal normal normal 14px/1 FontAwesome;
}


/********************************Medias*************************/

@media only screen and (max-width: 767.9px){
  #webNavBar{
    display: none;
  }
  
  #mobileNavBar{
    display: flex;
    flex-direction: row;
  }

  #mobileNavBar a{
    text-decoration: none;
    color:#2f2e2e;
  }
  
  #mobileNavBar h1:nth-child(1){
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 6.6px;
  }
  
  #mobileNavBar h1:nth-child(2){
    font-size: 1rem;
    font-weight: 400;
  }

  .whatsapp {
    position:fixed;
    width:50px;
    height:50px;
    bottom:50px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:3rem;
    z-index:100;
  }
  
.fa-whatsapp {
    margin-top:10px;
    color:#FFF;
  }

#secundario span:nth-child(4){
    font-size: 2rem;
    margin-left:75px;
    margin-bottom: 20px;
  }

#contenedor-icon{
    display: none;
  }

#scrollDown {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width:25px;
    height:25px;
    bottom:110px;
    right:53px;
    background-color: #bbb;
    border-radius:50px;
    text-align:center;
    font-size:3rem;
    z-index: 9999;
    transition: opacity 0.6s;
    opacity: 0;
    text-decoration: none;
  }
  
  
#scrollDown i{
  color:white;
  font: normal normal normal 14px/1 FontAwesome;
  }

}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px){
  .modal-content {
    max-width: 100%;
  }
}
