/********************************ALL***********************************************************************/
*{
  font-family: 'Montserrat', sans-serif;
}

#logo{
  text-align: center;
}

#maintitulo{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5.3px;
}

#slogan{
  font-size: 10px;
  font-weight: 400;
}

#webNavBar a{
  text-decoration: none;
  color: #2f2e2e;
}


nav ul {
    list-style-type: none;
    padding: 16px;
    margin-top: 10px;
  }
  
nav ul li a {
    color: #2f2e2e;
    border-top-style: solid;
    border-width: 1px;
    padding-top: 15px;
    margin: 5px;
    font-size: 12px;
    letter-spacing: 1px;
  }

nav ul li a:hover {
    text-decoration: none;
    color:#2f2e2e; 
    border-width: 3px;
  }

#mobileNavBar{
  display: none;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
#footerLogo{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
    padding-top: 30px;
  }
     
#footerLogo img{
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  
a[href^="mailto:"]{
    text-decoration: none;
    color:#2f2e2e;
    font-size: 15px;
    padding: 5px;
  }
  
#footerLogo #linkedin{
     height: 27px;
     width: 27px;
  }
  
#footerLogo #facebook{
    height: 27px;
    width: 27px;
    margin-left: 7px;
  }
  
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.fa-whatsapp {
    margin-top:15px;
    color:#FFF;
  }

.resaltado{
    border-width: 3px;
    font-weight: bold;
  }

@media only screen and (max-width: 767.9px){
  #webNavBar{
    display: none;
  }
  
  #mobileNavBar{
    display: flex;
    flex-direction: row;
  }

  #mobileNavBar a{
    text-decoration: none;
    color:#2f2e2e;
  }
  
  #mobileNavBar h1:nth-child(1){
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 6.6px;
  }
  
  #mobileNavBar h1:nth-child(2){
    font-size: 10px;
    font-weight: 400;
  }

  .whatsapp {
    position:fixed;
    width:50px;
    height:50px;
    bottom:50px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.fa-whatsapp {
    margin-top:10px;
    color:#FFF;
  }

#secundario span:nth-child(4){
    font-size: 20px;
    margin-left:75px;
    margin-bottom: 20px;
  }
}

/********************************index.html***********************************************************************/

.carousel{
    position: relative;
  }

.btn-customized{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }

.btn-customized:hover{
    color: #bbb
  }

  /********************************about us.html***********************************************************************/

#principal{
  margin-top: 50px;
  text-align: justify;
}

#principal h2{
  color:#2f2e2e;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

#principal p:nth-child(2){
  margin-top: 30px;
}

#principal p{
  font-size: 13px;
}

#owners a{
  margin-bottom: 5px;
  color:#2f2e2e;
  text-decoration: none;
  font-size: 11px;
  display: block;
}

#secundario{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#secundario span:nth-child(1){
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
}

#secundario span:nth-child(2){
  font-size: 20px;
  margin-left:50px;
}

#secundario span:nth-child(3){
  font-size: 30px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 50px;
}

#secundario span:nth-child(4){
  font-size: 20px;
  margin-left:75px;
}

#owners img{
  height: 27px;
  width: 27px;
}

  /********************************portfolio.html***********************************************************************/

#picturesPortfolio img{
  cursor: pointer;
  transition: 0.3s;
}

#picturesPortfolio img:hover{
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  display: block;
  width: 80%;
  max-width: 700px;
  bottom: 10%;
}

#myModal .container{
  height: 100%;
}



/* Add Animation - Zoom in the Modal */
.modal-content{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px){
  .modal-content {
    max-width: 100%;
  }
}

#anterior{
  position: absolute;
  left: 10%;
  top: 45%;
}

#siguiente{
  position: absolute;
  right: 10%;
  top: 45%;
}

.arrows {
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.arrows:hover,
.arrows:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#contenedor-icon{
  display: none;
}

/********************************Animations.html***********************************************************************/

#animations .row div{
  height: 360px;
}





